{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    Crear Actividad
{% endblock titulo %}

{% block contenido %}
    <div class="color_seccion">
        <h2 class="titulo-formulario">
            {% if not actividad %}
                Nueva
            {% endif %}
            Actividad
            {% if programa %}
                de {{programa.nombre}}
            {% endif %}
        </h2>

        {% if form.errors or admin_form.errors %}
            <div class="alert alert-warning">
                {{ form.errors }}
            </div>
        {% endif %}

        <form method="post" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
                <!---->
            <div class="row div-centrado">
               {% for field in form %}
                    <div class="form-group" style="margin: auto;">
                    <p>{{ field.label_tag }} </p>
                        {% if programa and field.name == 'programa' %}
                        <select name="programa" class="input-form form-control" style="width:250px" contenteditable="false" required="" id="id_programa">
                            <option value="{{ programa.id }}" selected="">{{ programa }}</option>
                        </select>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="div-centrado">
                <button type="submit" id="btn_guardar" class="btn-form">Guardar</button>
                {% if programa %}
                    <a href="{% url "lista_programa_actividades" programa.id %}" class="btn-form-rojo">Cancelar</a>
                {% else %}
                    <a href="{% url "lista_actividades" %}" class="btn-form-rojo">Cancelar</a>
                {% endif %}

            </div>
        </form>
    </div>

{% endblock contenido %}

{% block scripts %}
    <script src="{% static "js/funciones.js" %}"></script>
{% endblock scripts %}