{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" />
    <title>
        
        {% block titulo %}   {% endblock titulo %}
            
    </title>

    <!-- Fontfaces CSS-->
    <link href="{% static "css/font-face.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/font-awesome-4.7/css/font-awesome.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/font-awesome-5/css/fontawesome-all.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/mdi-font/css/material-design-iconic-font.min.css" %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static "vendor/bootstrap-4.1/bootstrap.min.css" %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static "vendor/animsition/animsition.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/wow/animate.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/slick/slick.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/select2/select2.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/perfect-scrollbar/perfect-scrollbar.css" %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static "css/theme.css" %}" rel="stylesheet" media="all">
    <link href="{% static "css/micss.css" %}" rel="stylesheet" media="all">

    
</head>

<body class="animsition">
    <div class="page-wrapper">

        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
                <div class="header-mobile__bar">
                    <div class="container-fluid">
                        <div class="header-mobile-inner">
                            
                            <div class="logo">
                                <a href="{% url "pagina_principal" %}">
                                    <img src="{% static "images/sezac-factoria-blanco.png" %}" width="200px"/>
                                </a>
                            </div>

                            <button class="hamburger hamburger--slider" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <nav class="navbar-mobile">
                    <div class="container-fluid">


                        <ul class="navbar-mobile__list list-unstyled">
                                {% if perms.programas.view_programa %}                        
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#" id="btnProgramas">
                                        <i class="fas fa-tasks"></i>Programas</a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a href="{% url "nuevo_programa" %}" id="btnNuevoPrograma">Agregar</a>
                                        </li>
                                        <li>
                                            <a href="{% url "lista_programa" %}" id="btnListaProgramas">Consultar</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                            {% if perms.subprogramas.view_subprograma %}
                                <li>
                                    <a class="js-arrow" href="#" id="btnSubprogramas">
                                        <i class="fas fa-users"></i>Actividades</a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a href="{% url "nueva_actividad" %}" id="btnNuevoSubprograma">Agregar</a>
                                        </li>
                                        <li>
                                            <a href="{% url "lista_actividades" %}" id="btnListaSubprogramas">Consultar</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                            {% if perm.componentes.view_componentes %}
                                <li class="has-sub">
                                    <a class="js-arrow" href="#" id="btnProyectos">
                                        <i class="fas fa-folder-open"></i>Componentes</a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a href="{% url "nuevo_componente" %}" id="btnNuevoProyecto">Agregar</a>
                                        </li>
                                        <li>
                                            <a href="{% url "lista_componente" %}" id="btnListaProyectos">Consultar</a>
                                        </li>
                                    </ul>
                                </li>
                             {% endif %}
                            {% if perms.programas.view_programa %}
                                <li>
                                    <a class="js-arrow" href="#" id="btnProyectos">
                                        <i class="fas fa-copy"></i>Reportes</a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a href="{% url "escoge_reporte" %}" id="btnNuevoProyecto">Nuevo</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                            {% if perms.usuarios.view_user %}
                                <li class="has-sub">
                                    <a class="js-arrow" href="#" id="btnUsuarios">
                                        <i class="fas fa-user"></i>Usuarios</a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a href="{% url "nuevo_usuario" %}" id="btnNuevoUsuario">Agregar</a>
                                        </li>
                                        <li>
                                            <a href="{% url "lista_usuarios" %}" id="btnListaUsuarios">Consultar</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>


                    </div>
                </nav>
        </header>
         <!--END HEADER MOBILE-->
    
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="{% url "pagina_principal" %}">
                    <img src="{% static "images/sezac-factoria-blanco.png" %}" width="400px"/>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">

                    <ul class="list-unstyled navbar__list">
                        {% if perms.programas.view_programa %}                        
                            <li>
                                <a class="js-arrow" href="#" id="btnProgramas">
                                    <i class="fas fa-tasks"></i>Programas</a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="{% url "nuevo_programa" %}" id="btnNuevoPrograma">Agregar</a>
                                    </li>
                                    <li>
                                        <a href="{% url "lista_programa" %}" id="btnListaProgramas">Consultar</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if perms.subprogramas.view_subprograma %}
                            <li >
                                <a class="js-arrow" href="#" id="btnSubprogramas">
                                    <i class="fas fa-users"></i>Actividades</a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="{% url "nueva_actividad" %}" id="btnNuevoSubprograma">Agregar</a>
                                    </li>
                                    <li>
                                        <a href="{% url "lista_actividades" %}" id="btnListaSubprogramas">Consultar</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if perms.componentes.view_componentes %}
                            <li>
                                <a class="js-arrow" href="#" id="btnProyectos">
                                    <i class="fas fa-copy"></i>Componentes</a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="{% url "nuevo_componentes" %}" id="btnNuevoComponentes">Agregar</a>
                                    </li>
                                    <li>
                                        <a href="{% url "lista_componentes" %}" id="btnListaComponentes">Consultar</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if perms.programas.view_programa %}
                            <li>
                                <a class="js-arrow" href="#" id="btnProyectos">
                                    <i class="fas fa-copy"></i>Reportes</a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="{% url "escoge_reporte" %}" id="btnNuevoProyecto">Nuevo</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        <!--{% if perms.usuarios.view_user %}-->
                            <li class="has-sub">
                                <a class="js-arrow" href="#" id="btnUsuarios">
                                    <i class="fas fa-user"></i>Usuarios</a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="{% url "nuevo_usuario" %}" id="btnNuevoUsuario">Agregar</a>
                                    </li>
                                    <li>
                                        <a href="{% url "lista_usuarios" %}" id="btnListaUsuarios">Consultar</a>
                                    </li>
                                </ul>
                            </li>
                        <!--{% endif %}-->
                    </ul>

                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->



        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            
                            <form class="form-header" action="" method="POST">
                                
                            </form>

                            <div class="header-button">
                                <div class="noti-wrap"></div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">  </div>
                                        <div class="content nombre-usuario">
                                            <a class="aex js-acc-btn navbar-toggler nombre-usuario" id="btnMenu" href="#">{{user}}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">

                                            <div class="account-dropdown__body">
                                                {% if user.is_active %}
                                                    <div class="account-dropdown__item">
                                                        <a id="btnMiPerfil" href="{% url "editar_usuario" user.id %}">
                                                            <i class="zmdi zmdi-account"></i>Editar Mi Perfil</a>
                                                    </div>
                                                {% endif %}
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="javascript: cerrarSesion('{% url 'logout' %}')" id="btnCerrarSesion">
                                                    <i class="zmdi zmdi-power"></i>Cerrar Sesión</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">

                    {% block contenido %}
            
                    {% endblock contenido %}
                                        
                </div>
            </div>
            <!-- END MAIN CONTENT-->

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="modal"
                    style="display:none"></button>
                    
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4 id="texto"></h4>
                        </div>
                        <div class="modal-footer">
                            <button id="btnCancelar" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <a href="#" id="btnCerrar" class="btn btn-primary modal-confirm">Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </div>

        
        </div>

    </div>


    <!-- Siempre jQuery hasta arriba-->

    {% load staticfiles %}

    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/funciones.js" %}"></script>
    <script src="{% static "js/modals.js" %}"></script>

    <!-- Jquery JS-->
    <script src="{% static "vendor/jquery-3.2.1.min.js" %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static "vendor/bootstrap-4.1/popper.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-4.1/bootstrap.min.js" %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static "vendor/slick/slick.min.js" %}">
    </script>
    <script src="{% static "vendor/wow/wow.min.js" %}"></script>
    <script src="{% static "vendor/animsition/animsition.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-progressbar/bootstrap-progressbar.min.js" %}">
    </script>
    <script src="{% static "vendor/counter-up/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "vendor/counter-up/jquery.counterup.min.js" %}">
    </script>
    <script src="{% static "vendor/circle-progress/circle-progress.min.js" %}"></script>
    <script src="{% static "vendor/perfect-scrollbar/perfect-scrollbar.js" %}"></script>
    <script src="{% static "vendor/chartjs/Chart.bundle.min.js" %}"></script>
    <script src="{% static "vendor/select2/select2.min.js" %}">
    </script>

    <!-- Main JS-->
    <script src="{% static "js/main.js" %}""></script>
        
    {% block scripts %}
            
    {% endblock scripts %}
        
</body>

</html>