{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Actualizar Componente
{% endblock titulo %}
    
{% block contenido %}
<div class= "color_seccion">
    <h2 class="titulo-formulario">Actualizar Componente</h2>

    {% if form.errors or actividad_form.errors %}
        <div class="alert alert-danger">
            {{form.error}} 
            {{actividad_form.errorss}}
        </div>
    {% endif %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p id="mensaje">{{message}}</p>
                </div>
            {% endfor %}
        </ul>
    {% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{componentes_form.as_p}}
    <div class="div-centrado">
    <button id="btnCambios" type="submit" class="btn-form">Guardar cambios</button>
</div>
</form>
</div>
{% endblock contenido %}

{% block scripts %}
  <script src="{% static "js/funciones.js" %}></script>
{% endblock scripts %}
