{% extends 'base.html' %}

{% block titulo %}
    Usuarios
{% endblock titulo %}
    
{% block contenido %}


    <div class="color_seccion">
        <h2 class="aex" >Usuarios</h2>

        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p id="mensaje">{{ message }}</p>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        
        <div class="table-responsive table--no-card m-b-30">
            <table class="table table-condensed table-borderless table-striped table-earning">
                <thead class="fondo-tabla">
                    <th class="col-sm-3">Nombre</th>
                    <th class="col-sm-2">Usuario</th>
                    <th class="col-sm-4">Correo</th>
                    <th class="col-sm-2">Teléfono</th>
                    <th class="col-sm-1">Opciones</th>
                </thead>
                <tbody>
                    {% for administrativo in page_obj %}
                        <tr>
                            <td>{{administrativo.admin.nombre}} {{administrativo.admin.primer_apellido}}</td>
                            <td>{{administrativo.usuario.username}}</td>
                            <td>{{administrativo.usuario.email}}</td>
                            <td>{{administrativo.admin.telefono}}</td>
                            {% if administrativo.usuario.is_active %}
                            <td>
                                <a href="{% url "desactivar_usuario" administrativo.usuario.id %}" class="btn-form-rojo-chico">Desactivar</a>
                            </td>
                            {% else %}
                            <td>
                                <a href="{% url "reactivar_usuario" administrativo.usuario.id %}" class="btn-form-verde-chico">Activar</a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>

        <div class="pagination div-centrado">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn-paginator">&laquo; Primera página</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn-paginator">Página anterior</a>
                {% endif %}
        
                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn-paginator">Siguiente página</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn-paginator">Última página &raquo;</a>
                {% endif %}
            </span>
        </div>



    </div>



{% endblock contenido %}